
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
   crossorigin="anonymous"> 

<h1>Регистрация</h1>
<form action="/register" method="post">
    <div class="form-group mx-sm-3 col-md-4 mb-2" >
        <input type="text" class="form-control mt-2" name="email" placeholder="Почта">
        <input type="password" class="form-control mt-2" name="password" placeholder="Пароль">
        <input type="text" class="form-control mt-2" name="name" placeholder="Логин">
        <button type="submit" class="btn btn-primary mt-2">Отправить</button>
    </div>

</form>