{{ 'Округление' }} <br>
{% for gal in nearby_galaxies.values() %}
    {{ gal['distance_trillionkm'] | round | int}}
    <br>
{% endfor %}

<br> {{ 'Обрезка символов' }} <br>
{% for gal in nearby_galaxies.values() %}
    {{ gal['description'] | truncate(length= 50, killwords=True) }}
    <br>
{% endfor %}

<br> {{ 'Кол-во элементов' }} <br>
{{ nearby_galaxies| length }} <br>

<br> {{ 'Сумма всех галагтик' }} <br>
{{ nearby_galaxies.values() | sum(attribute='distance_ly') }} <br>

<br> {{ 'min всех галагтик' }} <br>
{{ nearby_galaxies.values() | min(attribute='distance_ly') }} <br>
{{ (nearby_galaxies.values() | min(attribute='distance_ly'))['galaxy'] }} <br>

<br> {{ 'max всех галагтик' }} <br>
{{ nearby_galaxies.values() | max(attribute='distance_ly') }} <br>
{{ (nearby_galaxies.values() | max(attribute='distance_ly'))['galaxy'] }} <br>

<br> {{ 'Первое значение, обязательно конвертировать в список' }} <br>
{{ nearby_galaxies.values() | list | first }}  <br>

<br> {{ 'Последнее значение, обязательно конвертировать в список' }} <br>
{{ nearby_galaxies.values() | list | last }} <br>

<br> {{ 'Случайное значение, обязательно конвертировать в список' }} <br>
{{ nearby_galaxies.values() | list | random }} <br>

<br> {{ 'Сортировка, обязательно конвертировать в список' }} <br>
{% for gal in nearby_galaxies.values() | list | sort(attribute='distance_ly') %}
    {{ gal['galaxy']}}
    <br>
{% endfor %} 
<br>



